.page {
  padding: 30px;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
  background-color: #ccc;
}

main {
  flex: 1;
}

.card {
  height: 416px;
  overflow-y: clip;
}

footer {
  margin-top: 54px;
  background-color: #ccc;
}